/* body {
  font-size: 18px;
  box-sizing: border-box;
  margin: 0;
}

header[role="banner"] {
  width: 100%;
}

header > ul {
  padding: 0;
  width: 100%;
  display: flex;
  list-style-type: none;
  background: papayawhip;
  margin-bottom: 5rem;
}

header > ul {
  display: flex;
  justify-content: space-evenly;
}

main > section > h1 {
  text-align: center;
}

main > section > h4 {
  text-align: center;
}

.art-container {
  width: 70%;
  margin: 0 auto;
} */

/* .art-container > ol > li {
  margin-bottom: 2rem;
} */

.bg-darkblue {
  background: #333d57;
}

.text-light {
  color: hsla(0, 0%, 100%, 0.5);
}
.text-white {
  color: #ffffff;
}
